 input, optgroup, select, textarea{
    width: 100% !important;
}
.nnn{
    background: rgb(23, 168, 23);
    margin-bottom: 30px;
margin-left: 70px;
border: none;
border-radius: 5px;
}
.box{
    width: 40%;
    box-shadow: 5px 5px 5px 5px black;
    height: 100%;
    margin-top: 50px;

}

.sur{
    width: 100%;
    border-radius: 5px;
}
.radiobun{
    display: flex;
}

.radiobun input{
    width: 35px  !important;
    margin-top: 5px;
}
.birth{
    width: 100%;
}

.others{
    border: 1px solid black;
    width: 80%;
}
.male{
    border: 1px solid black;
    width: 80%;
}
.female{
    border: 1px solid black;
    width: 80%;
}
.month{
    width: 100%;
}
.birth p{
margin-bottom: -2px;
}
.face{
    color: blue;
    text-align: center;
}
.birth .question{
    background: #999898;
    padding: 0px 4px;
    border: 1px solid #999898;
    font-size: 10px;
    color: white;
    border-radius: 50%;
}
.gender .gen{
    background: #999898;
    padding: 0px 4px;
    border: 1px solid #999898;
    font-size: 10px;
    color: white;
    border-radius: 50%;
}